In [1]:
import pandas as pd
pd.Series?

In [2]:
animals = ['Dog', 'Cat', 'Tiger']
pd.Series(animals)

0      Dog
1      Cat
2    Tiger
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals = ['Tiger', 'Dog', None]
pd.Series(animals)

0    Tiger
1      Dog
2     None
dtype: object

In [7]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [8]:
import numpy as np
np.nan == None

False

In [9]:
np.nan == np.nan

False

In [10]:
np.isnan(np.nan)

True

In [11]:
sports = {'Archery': 'Bhutan', 'Golf': 'Scotland', 'Sumo': 'Japan', 'Teekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Teekwondo    South Korea
dtype: object

In [12]:
s.index

Index([u'Archery', u'Golf', u'Sumo', u'Teekwondo'], dtype='object')

In [14]:
s = pd.Series(['Tiger', 'Dog', 'Cat'], index = ['India', 'America', 'Canada'])
s

India      Tiger
America      Dog
Canada       Cat
dtype: object

In [16]:
##Querying a Series

In [17]:
sports = {'Archery': 'Bhutan', 'Golf': 'Scotland', 'Sumo': 'Japan', 'Teekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Teekwondo    South Korea
dtype: object

In [19]:
s.iloc[3]

'South Korea'

In [20]:
s.loc['Golf']

'Scotland'

In [21]:
s[3]

'South Korea'

In [22]:
s['Golf']

'Scotland'

In [23]:
sports = {99: 'Bhutan', 100: 'Scotland', 101: 'Japan', 102: 'South Korea'}
s = pd.Series(sports)

In [24]:
s[0]

KeyError: 0L

In [25]:
s.iloc[0]

'Bhutan'

In [26]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [27]:
total = 0
for item in s:
    total += item
print(total)

324.0

In [28]:
import numpy as np

total = np.sum(s)
print(total)

324.0

In [30]:
s = pd.Series(np.random.randint(0, 1000, 10000))
s.head() #first five elements

0    391
1    604
2    219
3    614
4    435
dtype: int32

In [31]:
len(s)

10000

In [32]:
%%timeit -n 100
summary = 0
for item in s:
    summary += item

100 loops, best of 3: 1.77 ms per loop

In [33]:
%%timeit -n 100
summary = np.sum(s)

The slowest run took 4.42 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 3: 149 µs per loop

In [34]:
s += 2
s.head()

0    393
1    606
2    221
3    616
4    437
dtype: int32

In [35]:
for label, value in s.iteritems():
    s.set_value(label, value + 2)
s.head()

0    395
1    608
2    223
3    618
4    439
dtype: int32

In [45]:
%%timeit -n 10
s = pd.Series(np.random.randint(0, 1000, 10000))
for label, value in s.iteritems():
    s.loc[label] = value + 2
s.head()

10 loops, best of 3: 1.16 s per loop

In [46]:
%%timeit -n 10
s = pd.Series(np.random.randint(0, 1000, 10000))
s += 2

10 loops, best of 3: 384 µs per loop

In [47]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [48]:
original_sports = pd.Series({'Archery': 'Bhutan', 'Golf': 'Scotland', 'Sumo': 'Japan', 'Teekwondo': 'South Korea'})
cricket_lowing_countries = pd.Series(['Australia', 'Barbados', 'Pakistan', 'England'], index = ['Cricket', 'Cricket', 'Cricket', 'Cricket'])
all_countries = original_sports.append(cricket_lowing_countries)

In [49]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Teekwondo    South Korea
dtype: object

In [50]:
cricket_lowing_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [51]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Teekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object